.article-category {
    width: 200px;
    height: 200px;

    display: flex;
    flex-direction: column;
}

.category-header {
    height: 60%;
}

.category-image {
    width: 100%;
    height: 100%;
    /* Redondeo solo en la parte superior */
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}



.category-footer {
    display: flex;
    flex-direction: column;
    
    padding: 1em;
    justify-content: center;
    align-items: center;

    background-color: var(--grey);
    /* Redondeo solo en la parte inferior */
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;

    > h3 {
        margin: 0;
        width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
        color: rgb(0, 0, 0); 
    }
}