.profile-main-container {
    background-color: var(--dark-grey);
    min-width: 300px;
    min-height: 100vh; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;


  .right-section{
    width: 75%;
    color: var(--white);
    
    > h1 {
      font-size: var(--font-larger);
      text-align: center;
    }

    > section {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      > h2 {
        margin: 0;
        margin-bottom: 0.35rem;
      }

      > .responsive-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

          > section {

            > h3 {
              margin-block: 0.5rem;
            }

          }

          > * {
            width: 100%;
          }

          > button {
            margin-top: 0.7rem;
          }
        }
      }

      > .actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 1rem;
      
        > button {
          width: 100%;
          margin-bottom: 1rem;
        }
      }

    > button {
      width: fit-content;
    }
  }
    
}

hr {
  margin-block: 2rem;
  height: 0.15rem;
  background-color: var(--white);
  border: none;
  width: auto;
}

@media (min-width: 940px) {

  .profile-main-container {
    align-items: start;
    flex-direction: row;
    padding: 3rem 3rem 1rem 3rem;

    gap: 3rem;
    
    .right-section > section > .responsive-div {
      flex-direction: column;
    }
  }

  @media (min-width: 1300px) {
    .profile-main-container {
      padding: 3rem 8rem 1rem 8rem;
    }
  
    .profile-main-container .right-section > section > .responsive-div {
      flex-direction: row;
    }
  
    .profile-main-container .right-section > section > .responsive-div > * {
      width: fit-content;
    }
  
    .profile-main-container .right-section > .actions > button {
      width: fit-content; 
    }
  }    

}



