.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.searchBar > div {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 5px;
  padding: 5px;
  min-width: 223px;

  flex-grow: 1;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición suave para sombra y transformación */
}

/* Hover solo en la barra de búsqueda */
.searchBar:hover > div {
  transform: scale(1.02); /* Ligeramente aumenta el tamaño de la barra */
}

/* Estilos del input */
.searchBar input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
}

/* Estilos del botón dentro de la barra de búsqueda */
.searchBar > div button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  width: fit-content;
}

.searchBar > div button svg {
  padding-inline: 0.3em;
  width: 1em;
  height: 1em;
  color:  var(--dark-grey);
  transition: color 0.2s ease-in-out;
}

.searchBar button:hover svg {
  color: #333;
}

/* Estilo para el botón de filtro */
.filter {
  width: 2em;
  height: 100%;
  background-color: var(--dark-grey);
  color: var(--white);
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter:hover {
  background-color: var(--white);
}

.filter svg {
  color: var(--white);
  width: 1.1em;
}


.searchBarWrapper {
  position: relative;
}



.searchBar input {
  border: none;
  outline: none;
  padding-left: 0.5rem;
}

















/* Triángulo hacia arriba, centrado justo debajo del icono */
.filterPanel::before {
  content: "";
  position: absolute;
  top: -10px;
  right: .5rem; /* ajústalo para que apunte al icono de filtro */
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: transparent transparent var(--medium-red) transparent;
}

.filterPanel {
  position: absolute;
  top: calc(100% + 10px); /* separa del botón */
  right: 0;
  z-index: 10;
  background-color: var(--medium-red);
  color: white;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 1.5rem;
  /* width: 300px; */
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  max-width: 60vw; /* máximo 40% del ancho de la pantalla */
  width: 500px; /* ancho ajustable al contenido */
  margin-left: 5em;
}

.filters {
  padding-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Espacio entre secciones */
  justify-content: space-between;; /* Centra las secciones */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.filterSection {
  display: flex;
  flex-direction: column;
  flex-basis: 220px; /* Establece el tamaño base de las secciones */
  flex-grow: 1; /* Permite que las secciones crezcan */
  min-width: 120px; /* Ancho mínimo */
  max-width: 250px; /* Ancho máximo */
}

.filterSection h5 {
  margin: 0; /* Espacio entre el título y las opciones */
  width: fit-content;
}

.filterSection label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type="checkbox"] {
  accent-color: black;
}

.span {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: nowrap;
}

.span p {
  margin-left: .5em;
}
