.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > div {
        display: inherit;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;

        > .font-icon, label {
            color: var(--white);
            font-weight: bold;
        }
    }

    > small {
        color: var(--red);
    }

    > input {
        outline: 0.15rem solid var(--white);
        border-radius: 0.1rem;
        background-color: var(--medium-grey);
        padding: 0.35rem;
        color: var(--white);

        &::placeholder {
            color: var(--grey)
        }
    }
}