.login-main-container {
    display: flex;
    flex-direction: row;

    h1 {
        font-size: var(--font-larger);
        color: var(--white);
    }

    a {
        font-size: var(--font-medium);
    }

    > .left-section, .right-section {
        display: inherit;
        flex-direction: column;
        padding-block: 5rem;
        flex: 1;
    }

    > .left-section {
        padding-inline: 12rem;
        gap: 1.25rem;
        background-color: var(--dark-grey);

        > h1 {
            font-size: var(--font-larger);
            color: var(--white);
        }

        > form  {
            display: inherit;
            flex-direction: column;
            gap: 3rem;

            label {
                font-size: var(--font-large);
            }

            input {
                font-size: var(--font-medium);
            }

            > div:last-child {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1rem;
                font-size: var(--font-medium);
            }
        }
    }

    > .right-section {

        gap: 1rem;
        align-items: center;
        padding-inline: 6rem;

        background: linear-gradient(90deg, var(--dark-red), var(--medium-red));
        height: 100%;

        > img {
            width: 20rem;
            height: auto;
            animation: spin 25s linear infinite;
            margin-block: 1rem;
        }

        > p {
            color: var(--white);
            font-size: var(--font-large);
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}