* { box-sizing: border-box; font-size: 24px;}

h1 {
    margin: 0;
}

.left-section, .right-section {
    display: flex;
    height: 23.47em;
    flex-direction: column;
    font-size: 1.5em;
    color: var(--white);
    padding-inline: 7em;
    padding-block: 2.5em;
}

.left-section {
    background-color: var(--dark-grey);
    flex: 2; /*Ocupa dos de tres partes*/
    gap: 2.55em;
}

.left-section h1 {
    text-align: left;
}

.left-section form {
    display: inherit;
    flex-direction: inherit;
    gap: 2em;
}

.left-section label, input::placeholder {
    font-size: 1.25em;
}


.left-section .forgot-password-link {
    font-size: 0.75em;
}

.left-section .forgot-password-link:visited {
    color:  #B96DFF;
}

.left-section .button-container {
    flex-direction: row;
    font-size: 1.25em;
    font-weight: bold;
}

.right-section {
    background: linear-gradient(90deg, var(--dark-red) 0%, var(--red) 100%);
    flex: 1; /* Ocupa una de tres partes */
    align-items: center;
    gap: 1.75em;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.right-section img {
    width: 15em;
    height: auto;
    animation: girar 10s linear infinite;
}


.right-section .register-link {
    background-color: var(--white);
    border-radius: 0.25em;
    padding: 0.75em;
    text-decoration: none;
    color: black;
    font-size: 0.5em;
    font-weight: bold;
}

.right-section .register-link:hover {
    background-color: var(--grey);
    color: black;
}