
  
  .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1em;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave para el color del texto */
  }
  
  .nav li {
    padding: 0.5rem;
    position: relative; 
    overflow: hidden; /* Necesario para los efectos */
  }
  
  .nav li:hover {
    background-color: #00000031; /* Color de fondo cuando se pasa el ratón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
  }
  
  
  .nav li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white; /* Subrayado animado */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .nav li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  @media (max-width: 550px) {
    .nav ul {
      flex-direction: column; 
      align-items: center; 
      gap: 0.5em; 
    }
  
    .nav li {
      width: 100%; 
      text-align: center; 
    }
    .nav{
      display: none;
    }
  }
  



@media (max-width: 550px) {
  .nav {
    display: none; /* Si no cabe se esconde */
    width: 100%;
  }

  /* Mostrar menú cuando menuOpen es true */

  .showMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .showMenu ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .showMenu a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
}