.post-main-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh; 


    h1 {
        font-size: var(--font-larger);
        color: var(--white);
    }

    a {
        font-size: var(--font-medium);
    }

    > .left-section, .right-section {
        display: inherit;
        flex-direction: column;
        padding-block: 2rem;
        flex: 1;
        align-items: center;
        justify-content: center; /* Centra verticalmente el contenido */
    }

    > .left-section {
        /* padding-inline: 12rem; */
        padding-inline: 2rem; 
        background-color: var(--dark-grey);
        gap: 1rem;

        > * {
            max-width: 600px; /* Para que no sea demasiado grande */
            width: 100%; /* Para que ocupe el máximo permitido */
        }

        > h1 {
            font-size: var(--font-larger);
            color: var(--white);
            margin: 0;
            margin-top: 1rem;
        }

        > small {
            color: var(--white);
            font-weight: bold;
            margin-block: 0.5rem;
        }

        > form  {
            display: inherit;
            flex-direction: column;
            gap: 1rem;

            label {
                font-size: var(--font-large);
            }

            input, select, textarea {
                font-size: var(--font-medium);
            }

            .grid-list  {

                > ul {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
                    gap: 0.25rem;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    color: white;

                    p {
                        text-overflow: ellipsis;
                    }
                }
            }
            

            > div:last-child {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1rem;
                font-size: var(--font-medium);
            }
        }
    }


    > .right-section {
        gap: 1rem;
        /* padding-inline: 6rem; */
        background: linear-gradient(90deg, var(--dark-red), var(--medium-red));
        
        > h1 {
            font-size: var(--font-large);
        }
        > .droparea {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            
            color: var(--white);
            background-color: var(--dark-grey);
            padding: 3rem;
            
            outline: 0.2rem solid var(--white);
            border-radius: 0.25rem;
            

            > .font-icon {
                height: 12rem ;
                width: auto;
            }

            > p {
                font-size: var(--font-medium);
                font-weight: bold;
            }

            > small {
                font-size: var(--font-small);
            }
        }

        div:hover {
            cursor: pointer;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {  /* Cuando la pantalla sea menor a 768px */
    .login-main-container {
        flex-direction: column; /* Apila los elementos en columna */
    }

    .right-section {
        order: -1; /* Mueve la sección derecha abajo */
    }
}
