.home-main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    min-height: 100vh; 
    color: var(--white);
}

.home-welcome {
    background: linear-gradient(90deg, var(--dark-red), var(--medium-red));
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5em;
    height: fit-content;

    > div {
        width: 50%;
    
        >img {
            width: 30%;
            height: 30%;
            animation: spin 25s linear infinite;
            margin-bottom: 1rem;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.category-section, .product-section {
    padding: 3em;
}

.category-header, .product-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.category-arrows {
    width: 100px;
    display: flex;
    justify-content: space-between;

    > button svg {
        color: #ffffff;
      }
}

.circle-button {
    display: flex; 
    align-items: center;
    justify-content: center; 
    padding: 10px; 
    aspect-ratio: 1 / 1; /* Mantiene el botón siempre circular */

    border-radius: 50%; /* Lo hace circular */
    background: none;
    cursor: pointer;
    transition: border 0.2s;
  }
  
.circle-button:hover {
    border: 2px solid rgb(255, 255, 255); /* Borde sin relleno */
}

.categories {
    display: flex;
    gap: 1em; 
}

.category-footer {
    display: flex;
    justify-content: center; /* Centra el span en la pantalla */

    > span {
        display: flex;
        width: 60px;
        justify-content: space-between; 
        align-items: center;

        > svg {
            color: #ffffff;
            font-size: 10px; /* Ajusta el tamaño */
        }
    }
}

.models {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas dinámicas */
    gap: 1em; /* Espacio entre elementos */
    justify-content: center; /* Centra la grid */
}

.model-footer {
    display: flex;
    justify-content: center;
    > button {
        width: 1000px;
        padding: 2em;
    }
}

@media (max-width: 1000px) {  /* Cuando la pantalla sea menor a 768px */
    .home-welcome {
        flex-direction: column; /* Apila los elementos en columna */
    }
}
