.models {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr)); /* 4 columnas, pero las columnas se reducen en tamaño */
    gap: 2em; /* Espacio entre elementos */
    justify-content: center; /* Centra la grid */
    place-items: center; /* Centra horizontal y verticalmente */
}

@media (max-width: 1400px) {
    .models {
        grid-template-columns: repeat(3, minmax(250px, 1fr)); /* 2 columnas en pantallas medianas */
    }
}
@media (max-width: 1024px) {
    .models {
        grid-template-columns: repeat(2, minmax(250px, 1fr)); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 700px) {
    .models {
        grid-template-columns: repeat(1, minmax(250px, 1fr)); /* 1 columna con un tamaño mínimo de 250px */
        }
}
