button {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: none;
  border-radius: 0.25rem;

  font-size: var(--font-medium);
  font-weight: bold;
  transition: background-color 0.1s ease, color 0.3s ease;

  &:hover {
    cursor: pointer;
  }
}

.red,
.white,
.white-red {
  display: flex;
  gap: 0.5em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: center;
  &:hover {
    transform: scale(1.05); /* Efecto de ampliación */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  }
}

.red {
  color: white;;
  background-color: var(--red);

    &:active {
        background-color: var(--dark-red);
    }
    
    text-decoration-color: var(--white);
}

.red-rounded {
    color: white;
    background-color: var(--red);

    text-decoration-color: var(--white);
}

.grey-rounded {
    color: var(--white);
    background-color: var(--medium-light-grey);

    text-decoration-color: var(--white);
}

.blue-rounded {
    color: var(--white);
    background-color: var(--blue);

    text-decoration-color: var(--white);
}

.green-rounded {
    color: var(--white);
    background-color: var(--green);

    text-decoration-color: var(--white);
}

.green-rounded:disabled {
  background-color: grey;
  color: var(--white);
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}


.grey-rounded,
.red-rounded,
.blue-rounded,
.green-rounded {
  border-radius: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  padding: 1em 2em 1em 2em;

  &:active {
    background-color: var(--white);
    color: var(--black);
  }

  &:hover {
    transform: scale(1.05); /* Efecto de ampliación */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  }
}

.white {
  color: var(--black);
  background-color: var(--white);

    &:active {
        background-color: var(--black);
        color: var(--white);
    }

    text-decoration-color: var(--black);
}

.white-red {
  color:#EB3131;
  background-color: var(--white);

    &:active {
        background-color: var(--black);
        color: var(--white);
    }

    text-decoration-color: var(--black);
}

.white-rounded {
  color: var(--black);
  background-color: var(--white);
  border-radius: 1rem;

    &:active {
        background-color: var(--black);
        color: var(--white);
    }

    text-decoration-color: var(--black);
}

.black {
    color: var(--white);
    background-color: var(--black);
    
    &:active {
        background-color: var(--white);
        color: var(--black);
    }

    text-decoration-color: var(--white);
}

.black-rounded {
  color: var(--white);
  background-color: var(--black);
  border-radius: 1rem;

    &:active {
        background-color: var(--white);
        color: var(--black);
    }

    text-decoration-color: var(--white);
}

/* .headerButtonWhite */
.headerButtonWhite {
  display: flex;
  gap: 0.5em;
  font-size: 16px;
  width: fit-content;
  border: 2px solid transparent;
  padding: 0.5em 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.headerButtonWhite:hover {
    transform: scale(1.05); /* Efecto de ampliación */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: black;
}
.headerButtonWhite:active {
  transform: scale(0.98); /* Reducir el tamaño del botón */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Reducir la sombra */
  background-color: var(
    --medium-grey
  ); /* Fondo más oscuro cuando se presiona */
  color: var(--white);
  text-decoration-color: white;
}
/* .headerButtonBlack */
.headerButtonBlack {
  display: flex;
  gap: 0.5em;
  font-size: 16px;
  width: fit-content;
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 0.5em 1rem;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease, color 0.3s ease;
}

.headerButtonBlack:hover {
    background-color: var(--black); /* Fondo más claro en hover */
    transform: scale(1.05); /* Efecto de ampliación */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    color: var(--white); /* Cambiar color del texto */
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--white);
}

.headerButtonBlack:active {
  transform: scale(0.98); /* Reducir el tamaño del botón */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Reducir la sombra */
  background-color: var(--white); /* Fondo más oscuro cuando se presiona */
  color: var(--dark-grey);
  text-decoration-color: black;
}

@media (max-width: 550px) {
  /* Ocultar el texto de los botones */
  .headerButtonWhite span,
  .headerButtonBlack span {
    display: none;
  }

  /* Ajustar tamaño de los botones */
  .headerButtonWhite,
  .headerButtonBlack {
    width: 40px; /* Tamaño fijo */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Eliminar relleno extra */
  }
}

a {
    all: unset;
}

a {
    all: unset;
}
  