.header {
  background: linear-gradient(30deg, var(--dark-red), var(--medium-red));
  padding: 0 1rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  /* background: var(--medium-red); */
  color: var(--white);
}

.leftContent {
  display: flex;
  gap: 3em;
  padding: 1em;
}


.rightContent {
    display: flex;
    gap: 1em;
    padding: 1em;
  }

.logo {
  width: 2rem;
  height: auto;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.15); /* Efecto de ampliación */
    cursor: pointer;
  }
}




/* Icono de menú hamburguesa */
.menuIcon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Oculto en pantallas grandes */
}

.navigation {
  display: flex;
}

.topNav {
  display: flex;
}


@media (max-width: 1300px) {
  .header {
    flex-direction: column;
  }
  .leftContent {
    flex-direction: column;
  }
  .logoDiv {
    width: 100%;
    display: flex;
  }
}

@media (max-width: 550px) {
  .menuIcon {
    display: block; /* Mostrar icono de menú */
  }
  .nav {
    width: 100%;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar logo y menú */
  }

  .topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 1em;
  }

  .leftContent {
    width: 100%;
  }

  .rightContent > button {
    height: 100%;
  }
}

