* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 1em;
}

h2 {
    font-size: 1em;
}

p {
    font-size: 0.75em;
}

a {
    font-size: 0.6em;
}

button {
    font-size: 0.6em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li p {
    font-size: 0.5em;
    margin-bottom: 1em;
}

.main-container {
    display: flex;     
    margin: 0 auto;       
    justify-content: center;   
    align-items: center;      
    height: 96vh;             
    font-size: 28px;      
}

.separator-div {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    box-shadow: 0.5em 0.5em 1em var(--gris-intermedio);
    min-width: 30em;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
}

.top-level-section {
    display: flex;
    flex-direction: column;
}

.left-section {
    padding-inline: 2em;
    flex: 1.5;
    border-radius: 0.25em 0em 0em 0.25em;
}

.left-section h2 {
    margin-block: 1.75em;
}

.right-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    color: white;
    background-image: linear-gradient(30deg, var(--rojo), var(--rojo-oscuro));
    justify-content: space-evenly;
    padding-inline: 3em;
    border-radius: 0em 0.25em 0.25em 0em;
}

.buttons-container button {
    width: 100%;
}

