.profilemenu{
    gap: 29px;
    display: flex;
    background: var(--medium-red);
    height: fit-content;
    padding: 1.5rem;
    border-radius: 10px;
    width: fit-content;
    flex-direction: column;

    > .profilebox{
        border-radius: 0.1rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;


        > .photoname{
            display: flex;
            color: var(--white);
            display: flex;
            font-weight: bold;
            align-items: center;
            justify-content: left;
            gap: 1rem;
        
            >img{
                width: 2.7rem;
                border-radius: 5rem;
            }
            >p{
                font-size: var(--font-medium);
    
            }
        }

        > .uploadsdownloads{
            color: var(--white);
            display: flex;
            gap: 0;
            flex-direction: column;
            justify-content: space-around;

            >p{
                font-size: var(--font-small);
            }
        }
        
    }

    svg{
        margin-right: 0.4rem;
    }
    
}

.profilemenu a {
    color: var(--white);
    text-decoration: none; /* Quita el subrayado */
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el icono y el texto */
    font-size: var(--font-medium);
    font-weight: bold;
    display: none;
}

.profilemenu a:hover {
    color: var(--white) /* Color cuando pasas el mouse */
}

@media (min-width: 940px) {
    .profilemenu > .profilebox{
        flex-direction: column;
        gap: 0;
        border-bottom: 0.08em solid var(--white);

        > .photoname{
            margin-bottom: 1rem;
        }
        > .uploadsdownloads{
            flex-direction: row;
            gap: 1rem;
            > p{
                min-width: fit-content;
            }
        }
    }
    .profilemenu a {
        color: var(--white);
        text-decoration: none; /* Quita el subrayado */
        display: flex;
        align-items: center;
        gap: 8px; /* Espacio entre el icono y el texto */
        font-size: var(--font-small);
        font-weight: bold;
        display: inline;
    }

    
  }
  
  
  
