.profilemenu{
    gap: 1rem;
    display: flex;
    /* background: var(--medium-red); */
    background-image: url("../../../public/banner3.png");
    background-size: cover;  /* Cubre todo el contenedor */
    background-position: right; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
    height: fit-content;
    padding: 1.5rem;
    border-radius: 10px;
    width: 10rem;
    flex-direction: column;

    > .profilebox{
        border-radius: 0.1rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        gap: 2rem;


        > .photoname{
            display: flex;
            color: var(--white);
            display: flex;
            font-weight: bold;
            align-items: center;
            justify-content: left;
            gap: 1rem;
        
            >img{
                width: 2.9rem;
                height: 2.9rem;
                border-radius: 5rem;
                object-fit: cover;
            }
            >p{
                font-size: var(--font-medium);
    
            }
        }

        > .uploadsdownloads{
            color: var(--white);
            display: flex;
            gap: 0;
            flex-direction: column;
            justify-content: space-around;

            >p{
                font-size: var(--font-small);
            }
        }
        
    }

    svg{
        margin-right: 0.4rem;
    }
    
}

.profilemenu a {
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: var(--font-medium);
    font-weight: bold;
    display: none;
    padding: 8px 12px; /* Añade algo de espacio interno para que el fondo se vea */
    border-radius: 6px; /* Bordes redondeados para mejor estética */
    transition: background-color 0.3s ease; /* Transición suave */
}

.profilemenu a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanquecino translúcido */
}


@media (min-width: 940px) {
    .profilemenu > .profilebox{
        flex-direction: column;
        gap: 0;
        border-bottom: 0.08em solid var(--white);

        > .photoname{
            margin-bottom: 1rem;
        }
        > .uploadsdownloads{
            flex-direction: row;
            gap: 1rem;
            > p{
                min-width: fit-content;
            }
        }
    }
    .profilemenu a {
        color: var(--white);
        text-decoration: none; /* Quita el subrayado */
        display: flex;
        align-items: center;
        gap: 8px; /* Espacio entre el icono y el texto */
        font-size: var(--font-small);
        font-weight: bold;
        display: inline;
    }

    
  }
  
  
  
